$buttonColor: rgb(4, 123, 4);

.details {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: space-evenly;
  gap: 10px;
  grid-auto-rows: 180px;

  .card {
    padding: 20px;
    box-shadow: 0px 1px 10px #bcbaba;
    border: none;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
   
    justify-content: space-between;

    .leftContent {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: 100%;

      .imageContent {
        img {
          width: 70px;
          object-fit: cover;
          height: 70px;
          border-radius: 50%;
          margin-bottom: 5px;
        }

        .stars {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 2px;

          i {
            color: grey;
            font-size: 10px;
          }
        }

        p {
          font-size: 12px;
          color: grey;
          text-align: center;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 0px;

        a {
          color: black;
          text-decoration: none;
          font-size: 17px;

          &:hover {
            color: rgb(55, 222, 55);
          }
        }

        span {
          color: gray;
          font-size: 15px;
        }

        .free {
          color: rgb(184, 16, 16);
          font-size: 15px;
          font-weight: bold;
        }

        strike {
          color: gray;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    .chatBtn {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      box-sizing: border-box;
      padding: 10px;
        position: absolute;
        left: 65%;
        bottom: 5%;

      button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $buttonColor;
        border: 1px solid $buttonColor;
        padding: 3px 25px;
        border-radius: 10px;
        font-size: 14px;

        .chat {
          color: rgb(76, 186, 76);
        }

        &:hover {
          box-shadow: 0px 0px 4px $buttonColor;

        }
      }
    }
  }
}

