$rechargeColor: rgb(4, 123, 4);

.searchContent{
    display: flex;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    .chatHeading{
        display: flex;
        flex-direction: row;
        height: 40px;
        gap: 5px;
        border-radius: 5px;
        background-color: #f0df20;
        padding: 5px 10px;
        p{
            font-size: 18px;
        }
        .chatIcon{
            margin: 5px;
        }
    }
    .filterAndSort{
        display: flex;
        flex-direction: row;
        gap: 10px;
    //    .recharge{
    //         padding: 7px 20px;
    //         height: 40px;
    //         border-radius: 5px;
    //         margin-right: 10px;
    //         font-size: 17px;
    //         border:1px solid $rechargeColor;
    //         color: $rechargeColor;
    //         &:hover{
    //             background-color: $rechargeColor;
    //             color: #fff;
    //             font-weight: 500;
    //         }
    //     }
        .filter,.sort{
            text-align: center;
            width: 25%;
            height: 40px;
            margin-right: 10px;
            .filterIcon, .sortIcon{
                color: rgb(146, 145, 145);
                text-align: center;
            }
            padding: 7px;
            font-size: 17px;
            border-radius: 5px;
            border: 1px solid lightgrey;
            &:hover{
                background-color: rgb(232, 228, 228);
            }
        }
        span{
            position: relative;
            input{
                width: 100%;
                padding: 7px 10px;
                border-radius: 5px;
               
                border: 1px solid lightgrey;
                &::placeholder{
                    font-size: 17px;
                }
                &:focus{
                    border:none;
                }
               
            }
            .bi-search{
                position: absolute;
                left: 88%;
                top: 20%;
                color: grey;
            }
        }
      
    }
   
}

@media (max-width: 799px) {
    .searchContent{
        display: flex;
        width: 100%;
        padding: 10px 5px;
        margin: 0;
        flex-direction: row;
        justify-content: space-around;
        gap: 5px;
        box-sizing: border-box;
        .chatHeading{
            display: flex;
            flex-direction: row;
            height: 60px;
            width: 130px;
            
            margin-left: -20px;
            gap: 5px;
            background-color: #f0df20;
            padding: 8px 10px;
            p{
                font-size: 14px;
            }
            .chatIcon{
                margin: 5px;
            }
        }
        .balance{
            width: 30px;
            text-align: center;
           font-size: 14px;
           margin-left: -30px;
        }
        .filterAndSort{
            display: flex;
            flex-direction: row;
            gap: 2px;
            
             .filter,.sort{
                
                 width: 40%;
                 height: 40px;
                 margin-right: 10px;
                 padding: 5px;
                 text-align: center;
                 
             }
             span{
                 .bi-search{
                     font-size: 18px;

                     position: absolute;
                     left: 88%;
                     top: 10%;

                }
             }
           
         }
    .mobileHidden{
        display: none;
    }
    .mobileButton{
        width: 30%;
        padding: 0px;
        font-size: 20px;
        
    }
}
}