body {
  background-color: lightblue !important;
}
.chatPage {
  height: 90vh;
  width: 50%;
  border: 1px solid green;
  border-radius: 20px;

  margin: auto;
  margin-block: 2%;
  .chatHeaderContainer {
    background-color: white;
    padding: 24px;
    height: 68px;
    border-bottom: 1px solid green;
    border-radius: 20px 20px 0 0;
    h2 {
      color: var(--text-gray-dark, #2c2c2ec2);
      font-size: 24px;
      text-align: center;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
    }
  }
  .chatContainer {
    background-color: white;
    border-radius: 0 0 20px 20px;
    height: 90.5%;
    padding: 24px;
    position: relative;
    overflow-y: scroll;
    .messageBox {
      overflow-y: scroll;
      height: 95%;
      .msg {
        margin-bottom: 10px;
        text-wrap: wrap;
        word-wrap: break-word;

        strong {
          color: black;
        }
      }
      .dynamic-textbox {
        display: inline-block;
        padding: 5px 8px 5px 8px;
        border-radius: 8px 8px 0px 8px;
        background-color: rgba(144, 238, 144, 0.868);
        color: rgb(96, 82, 82);
        min-width: 100px;
        max-width: 100%;
        width: auto;
      }
    }
    form {
      position: absolute;
      bottom: 20px;
      display: inline-flex;
      gap: 20px;
      align-items: center;
      input {
        width: 600px;
      }
      > div {
        margin: 0;
      }
      button {
        border: none;
        border-radius: 5px 12px;
        padding: 5px 12px;
        background-color: green;
        color: white;
        &:hover {
          background-color: lightgreen;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    .chatPage {
      width: 90%;
      .chatContainer form input {
        width: 230px;
      }
    }
  }
}
