@use "./modules/vrs";
@use "./modules//flex";

.chatPage {
  // background-image: url("../assets/chat-bg.jpg");
  margin: auto;
  border: 1px solid lightgrey;
  width: 50%;
  border-radius: 10px;
  position: relative;
  height: 80vh;
  margin-top: 30px;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
  .chatHead {
    background-color: vrs.$prim-color;
    padding: 5px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .profileContent {
      display: flex;
      flex-direction: row;
      gap: 10px;
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }
      .profileInfo {
        h6 {
          font-size: 14px;
          margin-bottom: 0px;
        }
        span {
          color: rgb(4, 172, 4);
          font-size: 10px;
          font-weight: 500;
          margin: 0px;
        }
        p {
          font-size: 10px;
          margin-bottom: 0px;
          font-weight: 500;
        }
      }
    }
    .endBtn {
      .btn {
        border: 1px solid vrs.$btn-color;
        padding: 0px 10px;
        background-color: #fff;
        color: vrs.$btn-color;
        border-radius: 5px;
        font-size: 14px;
        margin: 0px 10px;
        font-weight: 600;
      }
    }
  }
  .rechargeInfo {
    background-color: #fff;
    border-bottom: 1px solid lightgrey;
    padding: 3px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      padding: 10px;
      flex-direction: column;
      text-align: center;
    }
    .tipInfo {
      padding-bottom: 0px;
      a {
        color: vrs.$btn-color;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        i {
          font-size: 12px;
        }
      }
      p {
        font-size: 12px;
        color: grey;
        i {
          color: vrs.$prim-color;
        }
      }
    }
    .planCost {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      .btn1 {
        color: vrs.$btn-color;
        border: 2px solid vrs.$btn-color;
        border-radius: 10px;
        font-weight: 600;
      }
      @media screen and (max-width: 768px) {
        text-align: center;
        margin: auto;
      }
    }
  }
  .typeField {
    border-radius: 30px;
    margin: 0px 20px;
    width: 95%;
    position: absolute;
    bottom: 0;
    @media screen and (max-width: 768px) {
      margin: 0px 10px;
    }
  }
  .message-container {
    margin-top: 20px;
    max-height: 340px;
    overflow-y: auto;
    @media screen and (max-width: 768px) {
      max-height: 400px;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }
    .ant-list {
      overflow-y: auto;
      padding-right: 17px;
    }
    .message {
      padding: 5px 10px;
      margin: 10px 20px;
      width: 50%;
      background-color: lightyellow;
      border: 2px solid black;
      color: rgb(88, 87, 87);
      border-radius: 5px;
      strong {
        font-size: 15px;
      }
      @media screen and (max-width: 768px) {
        width: 90%;
      }
      .received {
        width: 50%;
        background-color: #f0f0f0;
        align-self: flex-start;
      }
      .sent {
        width: 50%;
        background-color: #e2f3ff;
        align-self: flex-end;
      }
    }
  }
}
