footer{
    background-color: #222;
    color: #a3a0a0;
    padding: 30px 200px;
    .headContent{
        border-bottom: 1px solid gray;
    }
    .impLinks{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .links{
            h5{
                border-bottom: 2px solid #f0df20;
            }
            .linkContents{
                display: flex;
                flex-direction: column;
                gap: 10px;
                a{
                    color: #b3afaf;
                    text-decoration: none;
                    
                }
            }
        }
    }
    @media (max-width: 799px) {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}