$rechargeColor: rgb(4, 123, 4);

.searchContent{
    display: flex;
    width: 76%;
    padding: 10px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    .chatHeading{
        display: flex;
        flex-direction: row;
        height: 40px;
        gap: 5px;
        border-radius: 5px;
        background-color: #f0df20;
        padding: 5px 10px;
        p{
            font-size: 18px;
        }
        .chatIcon{
            margin: 5px;
        }
    }
    .searchOptions{
        display: flex;
        flex-direction: row;
        gap: 20px;
        .recharge{
            padding: 7px 20px;
            height: 40px;
            border-radius: 5px;
            margin-right: 10px;
            font-size: 17px;
            border:1px solid $rechargeColor;
            color: $rechargeColor;
            &:hover{
                background-color: $rechargeColor;
                color: #fff;
                font-weight: 500;
            }
        }
        .filterAndSort{
            display: flex;
            flex-direction: row;
            gap: 10px;
         
            .filter,.sort{
                text-align: center;
                width: 25%;
                height: 40px;
                margin-right: 10px;
                .filterIcon, .sortIcon{
                    color: rgb(146, 145, 145);
                    text-align: center;
                }
                padding: 7px;
                font-size: 17px;
                border-radius: 5px;
                border: 1px solid lightgrey;
                &:hover{
                    background-color: rgb(232, 228, 228);
                }
            }
            span{
                position: relative;
                input{
                    width: 100%;
                    padding: 7px 10px;
                    border-radius: 5px;
                   
                    border: 1px solid lightgrey;
                    &::placeholder{
                        font-size: 17px;
                    }
                    &:focus{
                        border:none;
                    }
                   
                }
                .bi-search{
                    position: absolute;
                    left: 88%;
                    top: 20%;
                    color: grey;
                }
            }
          
        }
    }
}

@media (min-width: 800px) and (max-width: 1200px){

.searchContent{
    width: 92%;
 
    gap: 40px;
   
    .chatHeading{
       
        width: 200px;
        gap: 5px;
        height: 60px;
        padding: 5px;
        p{
            font-size: 16px;
        }
      
    }
    .balance{
        width: 30px;
        text-align: center;
        font-size: 14px;
        margin-left: -30px;
    }
    .searchOptions{
        display: flex;
        flex-direction: row;
        gap: 5px;
        .recharge{
            padding: 7px 20px;
            height: 40px;
            border-radius: 5px;
            margin-right: 10px;
            font-size: 17px;
            border:1px solid $rechargeColor;
            color: $rechargeColor;
            &:hover{
                background-color: $rechargeColor;
                color: #fff;
                font-weight: 500;
            }
        }
        .filterAndSort{
            display: flex;
            flex-direction: row;
            gap: 10px;
         
            .filter,.sort{
                text-align: center;
                width: 25%;
                height: 40px;
                margin-right: 10px;
                .filterIcon, .sortIcon{
                    color: rgb(146, 145, 145);
                    text-align: center;
                }
                padding: 7px;
                font-size: 17px;
                border-radius: 5px;
                border: 1px solid lightgrey;
                &:hover{
                    background-color: rgb(232, 228, 228);
                }
            }
            span{
                position: relative;
                input{
                    width: 100%;
                    padding: 7px 10px;
                    border-radius: 5px;
                   
                    border: 1px solid lightgrey;
                    &::placeholder{
                        font-size: 17px;
                    }
                    &:focus{
                        border:none;
                    }
                   
                }
                .bi-search{
                    position: absolute;
                    left: 88%;
                    top: 10%;
                    color: grey;
                }
            }
          
        }
    }
   
   
}
}

@media (min-width: 301px) and (max-width: 799px) {
    .searchContent{
        display: flex;
        width: 100%;
        padding: 10px 5px;
        margin: 0;
        flex-direction: row;
        justify-content: space-around;
        gap: 5px;
        box-sizing: border-box;
        .chatHeading{
            display: flex;
            flex-direction: row;
            height: 60px;
            width: 130px;
            
            margin-left: -15px;
            gap: 5px;
            background-color: #f0df20;
            padding: 8px 10px;
            p{
                font-size: 14px;
            }
            .chatIcon{
                margin: 5px;
            }
        }
        .balance{
            width: 30px;
            text-align: center;
            font-size: 14px;
            margin-left: -30px;
        }
        .searchOptions{
            display: flex;
            flex-direction: column;
            gap: 5px;
            .recharge{
                padding: 0px 10px;
                height:25px;
                border-radius: 5px;
                margin-right: 0px;
                font-size: 15px;
                border:1px solid $rechargeColor;
                color: $rechargeColor;
                &:hover{
                    background-color: $rechargeColor;
                    color: #fff;
                    font-weight: 500;
                }
            }
            .filterAndSort{
                display: flex;
                flex-direction: row;
                gap: 8px;
             
                 .filter,.sort{
                    display: flex;
                    flex-direction: row;
                     width: 30%;
                     height: 30px;
                     margin-right: 0px;
                     padding: 3px;
                     text-align: center;
                     
                 }
                 span{
                     .bi-search{
                       
                       
                        font-size: 18px;
                       
                        position: absolute;
                       
                        left: 88%;
                        top: 5%;
    
                    }
                 }
               
             }
        }
       
    .mobileHidden{
        display: none;
    }
    .mobileButton{
        width: 30%;
        padding: 0px;
        font-size: 20px;
        
    }
}
}

@media screen and (max-width: 300px){
    .searchContent{
        display: flex;
        width: 110%;
        padding: 10px 5px;
        margin: 0;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        box-sizing: border-box;
        .chatHeading{
            display: flex;
            flex-direction: row;
            height: 40px;
            width: 90px;
            
            margin-left: -15px;
            gap: 5px;
            background-color: #f0df20;
            padding: 5px;
            p{
                font-size: 10px;
            }
            .chatIcon{
                margin: 5px;
              
            }
        }
        .balance{
            width: 30px;
            text-align: center;
            font-size: 10px;
            margin-left: -30px;
        }
        .searchOptions{
            display: flex;
            flex-direction: column;
            gap: 5px;
            .recharge{
                padding: 0px 10px;
                height:20px;
              
                border-radius: 5px;
                margin-right: 0px;
                font-size: 10px;
              
            }
            .filterAndSort{
                display: flex;
                flex-direction: row;
                gap: 8px;
             
                 .filter,.sort{
                    display: flex;
                    flex-direction: row;
                     width: 30%;
                     height: 20px;
                    
                     margin-right: 0px;
                     font-size: 10px;
                     padding: 3px;
                     text-align: center;
                     
                 }
                 span{
                     .bi-search{
                       
                       
                        font-size: 10px;
                       
                        position: absolute;
                       
                        left: 88%;
                        top: 5%;
    
                    }
                 }
               
             }
        }
       
    .mobileHidden{
        display: none;
    }
    .mobileButton{
        width: 30%;
        padding: 0px;
        font-size: 20px;
        
    }
}
}
